

h1 {
    color: #f0f0f1;
    display: flex;
    justify-content: center;
}

.header {
    background-color: #50acc3;
    border-radius: .4%;
}

.headshot {
    max-width: 15%;
    border: 5px solid #d3538a;
    border-radius: 20%;
    display: flex;
}

.nav {
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

.image {
    max-width: 200px;
    border-radius: 20%;
}


